# Django project
/media/
/static/
*.sqlite3
jobsite/settings/local.py
.env

# Python
__pycache__/
*.pyc
.DS_Store
*.swp
/venv/

# Node
node_modules/
npm-debug.log

# Editors
.idea/
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/
